.events-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2%;
}

.event-heading {
    font-size: 50px;
    position: relative;
    top: -20px;
    margin-left: 30%;
    margin-top: 5%;
}

.event-card {
    width: calc(85% - 30%);
    max-width: calc(100% - 30%);
    margin-left: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
}

.event-details {
    padding: 10px;
    flex: 1;
}

.event-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.buy-button,
.sell-button {
    flex: 1;
    width: 150px;
    cursor: pointer;
}

.event-date {
    padding: 10px;
}
