.buy-page {
    padding: 20px;
    margin-left: 250px; /* Adjust the margin according to your sidebar width */
  }
  
  .event-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  