/* Note: If you are changing things in this file and it looks like it isn't changing, change the same part of sellPage.css and it should work.
Will look into why this is happening later. */

.buy-page {
  padding: 20px;
  margin-left: 250px;
}

.event-card-buy {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
  height: 600px; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.card-header {
  background-color: #13294B;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0;
}


/* Note: If you are changing things in this file and it looks like it isn't changing, change the same part of sellPage.css and it should work.
Will look into why this is happening later. */
.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 300px;
}

.button-container .buy-button {
  padding: 8px 12px;
  width: 150px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container .sell-button {
  padding: 8px 12px;
  width: 150px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container .buy-button:hover,
.button-container .sell-button:hover {
  filter: brightness(85%);
}
