.buy-page {
    padding: 10px 20px; /* Adjust the top and bottom padding */
    margin-left: 250px;
  }
  
  .container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
  }
  
  .event-card-buy {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0; /* Adjust the margin */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .action-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-header {
    background-color: #13294B;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .button-container .remove-bid-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button-container .buy-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .button-container .buy-button {
    padding: 8px 12px;
    width: 150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container .bid-button {
    padding: 8px 12px;
    width: 150px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-container .remove-bid-button {
    padding: 8px 12px;
    width: 150px;
    background-color: #b90d0d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container .buy-button:hover,
  .button-container .sell-button:hover {
    filter: brightness(85%);
  }
  
  /* Modal Backdrop */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  /* Modal Content */
  .modal-content {
    width: calc(100% - 300px); /* Adjust based on sidebar width */
    max-width: 600px; /* Maximum width */
    background-color: #fff;
    padding: 20px;
    margin: 15px; /* Distance from viewport edges */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Input Field */
  .modal-content input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Submit Button */
  .modal-content button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #45a049;
  }
  
  .topasksandbids-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .topasksandbids-card .card-header {
    background-color: #13294b;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .topasksandbids-card .card-content {
    padding: 20px;
  }
  
  .topasksandbids-card .card-title {
    margin: 0;
  }