/* .ticket-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    left: 30%;
    top: 30%;
} */

.ticket-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 40px;
    overflow-y: auto;
    position: fixed;
    left: 30%; 
    top: 10%;
}


.ticket-heading {
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;
    top: -45px; /* Adjust this value as needed */
}

.ticket-tabs {
    position: absolute;
    border: 1px solid #E84A27;
    width: 50%;
    height: 100px;
    padding: 0px;
    margin-bottom: 10px;
    list-style-type: none;
}


.event {
    position: relative;
    font-size: 30px;
    left: 10%;
    top: 10%;
    width: 20%;
    height: 20%;
}

.used {
    position: absolute;
    font-size: 30px;
    right: 10%;
    top: 10%;
    width: 10%;
    height: 10%;
    color: red;
}

.unused {
    position: absolute;
    font-size: 30px;
    right: 10%;
    top: 10%;
    width: 10%;
    height: 10%;
    color: green;
}

.listed {
    position: absolute;
    font-size: 30px;
    right: 10%;
    top: 20%;
    width: 10%;
    height: 10%;
    color: green;
}

.unlisted {
    position: absolute;
    font-size: 30px;
    right: 10%;
    top: 20%;
    width: 10%;
    height: 10%;
    color: red;
}