.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #E84A27;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
  }
  
  .sidebar-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .sidebar-tabs {
    list-style-type: none;
    padding: 0;
    color: white;
    text-decoration: none;
  }

  .sidebar-tabs a {
    text-decoration: none;
  }
  
  .sidebar-tabs li {
    cursor: pointer;
    padding: 20px;
    color: white;
    text-decoration: none;
  }

  .sidebar-tabs li a {
    display: block; 
    padding: 20px; 
    color: white; 
    text-decoration: none;
  }
  
  .sidebar-tabs li:hover {
    background-color: #13294B;
  }
  
  .sidebar-tabs li.active {
    background-color: #13294B;
  }

  .sidebar-tabs li a:hover {
    text-decoration: none;
  }
  