.sign-out-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #E84A27;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .sign-out-button:hover {
    background-color: #13294B;
  }